{deps, [
  {geoip, "",
    {git, "http://github.com/maxmind/geoip-api-c.git", {tag, "v1.5.0"}}, [raw]}
]}.

{port_specs, [{"priv/geoip_nif.so", ["c_src/*.c"]}]}.

%% The $DEP variable is created in rebar.config.script
{port_env, [{"GEOIP_LIBS_PATH", "${REBAR_DEPS_DIR}/geoip/libGeoIP/.libs"},
            {"GEOIP_LOBJECTS", "${GEOIP_LIBS_PATH}/GeoIP.o ${GEOIP_LIBS_PATH}/GeoIP_depreciated.o ${GEOIP_LIBS_PATH}/GeoIPCity.o ${GEOIP_LIBS_PATH}/regionName.o ${GEOIP_LIBS_PATH}/timeZone.o"},
            {"CFLAGS", "$CFLAGS -g -O2 -Wall -fPIC -I${REBAR_DEPS_DIR}/geoip/libGeoIP/"},
            {"DRV_LINK_TEMPLATE",
             "$CC $PORT_IN_FILES $GEOIP_LOBJECTS $LDFLAGS -liconv $DRV_LDFLAGS -o $PORT_OUT_FILE"}
]}.

{pre_hooks, [
  {compile, "priv/compile_geoip.sh"}
]}.
